Alexa Flow mit Lautstärke via MQTT.json
[{"id":"8d44e71f.0ef788","type":"homeeDevice","z":"28ad407a.6ec838","homee-sim":"46ba18d6.c01d48","name":"Küche","nodeId":"10","profile":"1001","icon":"nodeicon_speaker","attributes":"[{\"id\":100,\"node_id\":10,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":101,\"node_id\":10,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":470,"y":860,"wires":[["b0bdc977.3e7488","c7ff9aa.88c0f68"]]},{"id":"e74ef4b4.cea3b8","type":"mqtt in","z":"28ad407a.6ec838","name":"State","topic":"alexa/kueche_state","qos":"2","datatype":"auto","broker":"6bc6ea3d.943ebc","x":110,"y":840,"wires":[["4b4c3aa1.d81544"]]},{"id":"e9e67756.1af418","type":"mqtt in","z":"28ad407a.6ec838","name":"Volume","topic":"alexa/kueche_volume","qos":"2","datatype":"auto","broker":"6bc6ea3d.943ebc","x":110,"y":880,"wires":[["421d83fd.f1113c"]]},{"id":"e106a852.4f73f8","type":"mqtt out","z":"28ad407a.6ec838","name":"On/Off","topic":"alexa/kueche","qos":"","retain":"","broker":"6bc6ea3d.943ebc","x":870,"y":840,"wires":[]},{"id":"fa5860eb.bc92d","type":"mqtt out","z":"28ad407a.6ec838","name":"Volume","topic":"alexa/kueche_volume","qos":"","retain":"","broker":"6bc6ea3d.943ebc","x":880,"y":880,"wires":[]},{"id":"b0bdc977.3e7488","type":"function","z":"28ad407a.6ec838","name":"","func":"if (msg.payload.attributeId === 101 && msg.payload.targetValue > 0){node.send({payload:msg.payload.targetValue})}","outputs":1,"noerr":0,"x":670,"y":880,"wires":[["fa5860eb.bc92d"]]},{"id":"4b4c3aa1.d81544","type":"function","z":"28ad407a.6ec838","name":"","func":"if (msg.payload === \"true\"){var status = 1}\n    else var status = 0;\n        node.send({payload:{\"id\":100,\"value\":status}})","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["8d44e71f.0ef788"]]},{"id":"421d83fd.f1113c","type":"function","z":"28ad407a.6ec838","name":"","func":"node.send({payload:{\"id\":101,\"value\":parseFloat(msg.payload)}})","outputs":1,"noerr":0,"x":290,"y":880,"wires":[["8d44e71f.0ef788"]]},{"id":"c7ff9aa.88c0f68","type":"function","z":"28ad407a.6ec838","name":"","func":"if (msg.payload.attributeId === 100){node.send({payload:msg.payload.targetValue})}","outputs":1,"noerr":0,"x":670,"y":840,"wires":[["e106a852.4f73f8"]]},{"id":"46ba18d6.c01d48","type":"virtualHomee","z":"","name":"virtualHomee"},{"id":"6bc6ea3d.943ebc","type":"mqtt-broker","z":"","name":"","broker":"10.1.103.120","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]