Aqara Temperatur Sensor über Zigbee2MQTT.json
[{"id":"65494b82.4d4ea4","type":"debug","z":"fd6d95c1.d70ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":2800,"wires":[]},{"id":"c03b9efe.477f4","type":"homeeDevice","z":"fd6d95c1.d70ae8","homee-sim":"236538fb.027108","name":"Klima  Wohnzimmer","nodeId":"400","profile":"3014","icon":"default","attributes":"[{\"id\":400,\"node_id\":400,\"instance\":0,\"minimum\":0,\"maximum\":50,\"current_value\":23.6,\"target_value\":23.6,\"last_value\":23.799,\"unit\":\"%C2%B0C\",\"step_value\":0.5,\"editable\":0,\"type\":5,\"state\":1,\"last_changed\":1572966224,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":401,\"node_id\":400,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":49,\"target_value\":49,\"last_value\":48,\"unit\":\"%25\",\"step_value\":1,\"editable\":0,\"type\":7,\"state\":1,\"last_changed\":1572966224,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":402,\"node_id\":400,\"instance\":0,\"minimum\":260,\"maximum\":1160,\"current_value\":993.299,\"target_value\":993.299,\"last_value\":993.2,\"unit\":\"mBar\",\"step_value\":5,\"editable\":0,\"type\":94,\"state\":1,\"last_changed\":1572966224,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":403,\"node_id\":400,\"instance\":0,\"minimum\":0,\"maximum\":4,\"current_value\":4,\"target_value\":4,\"last_value\":3,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":33,\"state\":1,\"last_changed\":1572461025,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"}]","x":1010,"y":2800,"wires":[[]]},{"id":"29eb1f1a.0946b","type":"mqtt in","z":"fd6d95c1.d70ae8","name":"","topic":"zigbee2mqtt/KlimaWZ","qos":"2","datatype":"auto","broker":"306109be.a1add6","x":220,"y":2800,"wires":[["59fc0ce6.93ed74"]]},{"id":"59fc0ce6.93ed74","type":"json","z":"fd6d95c1.d70ae8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":2800,"wires":[["509c776a.fe61e8","65494b82.4d4ea4"]]},{"id":"509c776a.fe61e8","type":"function","z":"fd6d95c1.d70ae8","name":"Filter Sensor","func":"var temp = msg.payload.temperature\nvar hum = msg.payload.humidity\nvar mbar = msg.payload.pressure\n\nnode.send({payload:{\"id\":400,\"value\":msg.payload.temperature}})\nnode.send({payload:{\"id\":401,\"value\":msg.payload.humidity}})\nnode.send({payload:{\"id\":402,\"value\":msg.payload.pressure}})","outputs":1,"noerr":0,"x":810,"y":2800,"wires":[["c03b9efe.477f4"]]},{"id":"cecbc7f1.b0eaf8","type":"comment","z":"fd6d95c1.d70ae8","name":"Simulation zigbee3mqtt (IDs 400 - 440)","info":"","x":270,"y":2740,"wires":[]},{"id":"236538fb.027108","type":"virtualHomee","z":"","name":"12345QWERT"},{"id":"306109be.a1add6","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.27","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]