Aqara_Motion_Sensor_uber_Zigbee2MQTT.json
[{"id":"db198f1.9fa0e7","type":"debug","z":"fd6d95c1.d70ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":2920,"wires":[]},{"id":"e0fa0947.db7238","type":"mqtt in","z":"fd6d95c1.d70ae8","name":"","topic":"zigbee2mqtt/WohnzimmerBM","qos":"2","datatype":"auto","broker":"306109be.a1add6","x":240,"y":2920,"wires":[["5cd73d2.075c7c4"]]},{"id":"5cd73d2.075c7c4","type":"json","z":"fd6d95c1.d70ae8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":2920,"wires":[["5965e8cc.ea2028"]]},{"id":"3a8947c0.421618","type":"function","z":"fd6d95c1.d70ae8","name":"Filter Sensor","func":"var ill = msg.payload.illuminance\nvar occ = msg.payload.occupancy\n\nnode.send({payload:{attribute:{id:420,value:msg.payload.illuminance}}})\nnode.send({payload:{attribute:{id:421,value:msg.payload.occupancy}}})","outputs":1,"noerr":0,"x":810,"y":2920,"wires":[["db198f1.9fa0e7","effe2022.ca205"]]},{"id":"5965e8cc.ea2028","type":"change","z":"fd6d95c1.d70ae8","name":"","rules":[{"t":"change","p":"payload.occupancy","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload.occupancy","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2920,"wires":[["3a8947c0.421618"]]},{"id":"effe2022.ca205","type":"homeeDevice","z":"fd6d95c1.d70ae8","virtual-homee":"236538fb.027108","name":"BM Wohnzimmer","nodeId":"420","profile":"4029","icon":"default","attributes":"[{\"id\":420,\"node_id\":420,\"instance\":0,\"minimum\":0,\"maximum\":1001,\"current_value\":298,\"target_value\":298,\"last_value\":298,\"unit\":\"lx\",\"step_value\":1,\"editable\":0,\"type\":11,\"state\":1,\"last_changed\":1572977478,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":421,\"node_id\":420,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":1,\"target_value\":1,\"last_value\":0,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":25,\"state\":1,\"last_changed\":1572977478,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":1010,"y":2920,"wires":[[]]},{"id":"306109be.a1add6","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.27","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"236538fb.027108","type":"virtualHomee","z":"","name":"12345QWERT"}]
