Danalock über Nuki Simulation.json
[{"id":"635946b0.f5b5a8","type":"homeeDevice","z":"54a1d107.b7729","homee-sim":"1a7ba53a.f1b88b","name":"Danalock","nodeId":"130","profile":"2007","attributes":"[{\"id\":130,\"node_id\":130,\"instance\":0,\"minimum\":0,\"maximum\":4,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":232,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":131,\"node_id\":130,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":1,\"type\":69,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":132,\"node_id\":130,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":70,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":380,"y":80,"wires":[["a09f16e9.56dff","2cca585f.9043b"]]},{"id":"690fe689.17ab78","type":"mqtt in","z":"54a1d107.b7729","name":"","topic":"danalock","qos":"2","datatype":"auto","broker":"a45a03f4.dda4c","x":60,"y":80,"wires":[["5edbce49.52f6e8"]]},{"id":"5edbce49.52f6e8","type":"change","z":"54a1d107.b7729","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"{\"id\":130,\"value\":1}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"{\"id\":130,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":80,"wires":[["635946b0.f5b5a8"]]},{"id":"27087757.df82d","type":"mqtt out","z":"54a1d107.b7729","name":"","topic":"danalock","qos":"","retain":"","broker":"a45a03f4.dda4c","x":700,"y":80,"wires":[]},{"id":"2cca585f.9043b","type":"function","z":"54a1d107.b7729","name":"entriegelt","func":"if (msg.payload.targetValue === 0)\nreturn {payload: false};\n\n","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["27087757.df82d"]]},{"id":"a09f16e9.56dff","type":"function","z":"54a1d107.b7729","name":"verriegelt","func":"if (msg.payload.targetValue === 1)\nreturn {payload: true};\n\n","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["27087757.df82d"]]},{"id":"1a7ba53a.f1b88b","type":"virtualHomee","z":"","name":"5ABC"},{"id":"a45a03f4.dda4c","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.84","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]