HarmoActivities_mit_Rückkanal_Websocket.json
[{"id":"53b7fd25.3d7e44","type":"harmonyws-activity","z":"74cfcdda.9c443c","name":"Fernsehen","server":"a0efdae9.d4dc28","activity":"33385015","x":1130,"y":220,"wires":[[]]},{"id":"afebda08.3e0488","type":"harmonyws-activity","z":"74cfcdda.9c443c","name":"Radio","server":"a0efdae9.d4dc28","activity":"33392963","x":1110,"y":300,"wires":[[]]},{"id":"ce8f74c1.3c655","type":"harmonyws-activity","z":"74cfcdda.9c443c","name":"Airplay","server":"a0efdae9.d4dc28","activity":"33385335","x":1110,"y":380,"wires":[[]]},{"id":"1b68ff0d.12dd99","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.targetValue","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload.targetValue","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":380,"wires":[["ce8f74c1.3c655"]]},{"id":"6d224bd5.98cd9c","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.targetValue","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload.targetValue","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["afebda08.3e0488"]]},{"id":"fc4fb1b9.02d87","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.targetValue","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload.targetValue","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["53b7fd25.3d7e44"]]},{"id":"80e6bff1.ee46d","type":"homeeDevice","z":"74cfcdda.9c443c","virtual-homee":"58ed9f7d.f622e8","name":"Harmony Fernsehen","nodeId":"11","profile":"1004","icon":"nodeicon_tv","attributes":"[{\"id\":11,\"node_id\":11,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":740,"y":220,"wires":[["fc4fb1b9.02d87"]]},{"id":"3263f471.d8705c","type":"homeeDevice","z":"74cfcdda.9c443c","virtual-homee":"58ed9f7d.f622e8","name":"Harmony Radio","nodeId":"12","profile":"1004","icon":"nodeicon_tv","attributes":"[{\"id\":12,\"node_id\":12,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":720,"y":300,"wires":[["6d224bd5.98cd9c"]]},{"id":"273ffcc7.a0024c","type":"homeeDevice","z":"74cfcdda.9c443c","virtual-homee":"58ed9f7d.f622e8","name":"Harmony Airplay","nodeId":"13","profile":"1004","icon":"nodeicon_tv","attributes":"[{\"id\":13,\"node_id\":13,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":730,"y":380,"wires":[["1b68ff0d.12dd99"]]},{"id":"3fea9fca.f5b4c","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.status","pt":"msg","from":"3","fromt":"num","to":"{\"id\":13,\"value\":0}","tot":"json"},{"t":"change","p":"payload.status","pt":"msg","from":"2","fromt":"num","to":"{\"id\":13,\"value\":1}","tot":"json"},{"t":"move","p":"payload.status","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["273ffcc7.a0024c"]]},{"id":"4ed41b0e.5681e4","type":"template","z":"74cfcdda.9c443c","name":"Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"id\":13,\"value\":0}","output":"json","x":470,"y":420,"wires":[["273ffcc7.a0024c"]]},{"id":"38eb1c81.820dd4","type":"template","z":"74cfcdda.9c443c","name":"Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"id\":12,\"value\":0}","output":"json","x":470,"y":340,"wires":[["3263f471.d8705c"]]},{"id":"76765fdc.947248","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.status","pt":"msg","from":"3","fromt":"num","to":"{\"id\":12,\"value\":0}","tot":"json"},{"t":"change","p":"payload.status","pt":"msg","from":"2","fromt":"num","to":"{\"id\":12,\"value\":1}","tot":"json"},{"t":"move","p":"payload.status","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["3263f471.d8705c"]]},{"id":"fdd40872.d102a8","type":"template","z":"74cfcdda.9c443c","name":"Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"id\":11,\"value\":0}","output":"json","x":470,"y":260,"wires":[["80e6bff1.ee46d"]]},{"id":"95935fe2.dd7018","type":"change","z":"74cfcdda.9c443c","name":"","rules":[{"t":"change","p":"payload.status","pt":"msg","from":"3","fromt":"num","to":"{\"id\":11,\"value\":0}","tot":"json"},{"t":"change","p":"payload.status","pt":"msg","from":"2","fromt":"num","to":"{\"id\":11,\"value\":1}","tot":"json"},{"t":"move","p":"payload.status","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["80e6bff1.ee46d"]]},{"id":"324e4c27.56fddc","type":"switch","z":"74cfcdda.9c443c","name":"Fernsehen","property":"payload.activity","propertyType":"msg","rules":[{"t":"eq","v":"33385015","vt":"str"},{"t":"neq","v":"33385015","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":240,"wires":[["95935fe2.dd7018"],["fdd40872.d102a8"]]},{"id":"517c71f8.c21bf8","type":"switch","z":"74cfcdda.9c443c","name":"Radio","property":"payload.activity","propertyType":"msg","rules":[{"t":"eq","v":"33392963","vt":"str"},{"t":"neq","v":"33392963","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["76765fdc.947248"],["38eb1c81.820dd4"]]},{"id":"7328a090.976038","type":"switch","z":"74cfcdda.9c443c","name":"Airplay","property":"payload.activity","propertyType":"msg","rules":[{"t":"eq","v":"33385335","vt":"str"},{"t":"neq","v":"33385335","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":400,"wires":[["3fea9fca.f5b4c"],["4ed41b0e.5681e4"]]},{"id":"25981966.3c8706","type":"harmonyws-observer","z":"74cfcdda.9c443c","name":"Harmony WZ Observe","server":"a0efdae9.d4dc28","startup":true,"toContext":true,"context":"global","contextKeyActivity":"activity","contextKeyAutomation":"automation","x":120,"y":240,"wires":[["324e4c27.56fddc","517c71f8.c21bf8","7328a090.976038"]]},{"id":"eba60a49.0c3b5","type":"inject","z":"74cfcdda.9c443c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["25981966.3c8706"]]},{"id":"a0efdae9.d4dc28","type":"harmonyws-server","z":"","name":"Wohnzimmer","ip":"192.168.178.15","debug":true},{"id":"58ed9f7d.f622e8","type":"virtualHomee","z":"","name":"19216817830"}]
