home_connect_coffee_machine.json
[
   {
      "id":"1bd55ea3.4cf571",
      "type":"tab",
      "label":"Kaffeemaschine",
      "disabled":false,
      "info":""
   },
   {
      "id":"39c82726.cc0e18",
      "type":"home-connect-request",
      "z":"1bd55ea3.4cf571",
      "auth":"36ab1033.2965d",
      "name":"",
      "tag":"settings",
      "operationId":"get_settings",
      "haid":"",
      "body":"",
      "optionkey":"",
      "programkey":"",
      "settingkey":"",
      "statuskey":"",
      "imagekey":"",
      "x":330,
      "y":240,
      "wires":[
         [
            "64e08ea4.98f1a",
            "9eff67ba.678b98"
         ]
      ]
   },
   {
      "id":"64e08ea4.98f1a",
      "type":"debug",
      "z":"1bd55ea3.4cf571",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":true,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"payload",
      "statusType":"auto",
      "x":550,
      "y":300,
      "wires":[
         
      ]
   },
   {
      "id":"85f7685a.933868",
      "type":"inject",
      "z":"1bd55ea3.4cf571",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"60",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":140,
      "y":240,
      "wires":[
         [
            "39c82726.cc0e18"
         ]
      ]
   },
   {
      "id":"9eff67ba.678b98",
      "type":"function",
      "z":"1bd55ea3.4cf571",
      "name":"",
      "func":"if(msg.payload.data.settings[0].value ===\"BSH.Common.EnumType.PowerState.Standby\"){return {payload:{\"attribute\":{\"id\":991,\"value\":0}}}}\nelse \nreturn {payload:{\"attribute\":{\"id\":991,\"value\":1}}}\n\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":540,
      "y":240,
      "wires":[
         [
            "ccfada91.361878"
         ]
      ]
   },
   {
      "id":"ccfada91.361878",
      "type":"homeeDevice",
      "z":"1bd55ea3.4cf571",
      "virtual-homee":"",
      "name":"Kaffeemaschine",
      "nodeId":"990",
      "showNodeId":false,
      "profile":"16",
      "icon":"default",
      "attributes":[
         {
            "state":1,
            "instance":0,
            "minimum":0,
            "maximum":1,
            "current_value":0,
            "target_value":0,
            "last_value":0,
            "data":"",
            "unit":"",
            "step_value":1,
            "editable":1,
            "last_changed":1603205694,
            "changed_by":1,
            "changed_by_id":0,
            "based_on":1,
            "options":[
               
            ],
            "id":991,
            "type":1,
            "node_id":990
         }
      ],
      "statusTemplate":"",
      "x":740,
      "y":240,
      "wires":[
         [
            "d79f2214.8cf5b"
         ]
      ]
   },
   {
      "id":"d79f2214.8cf5b",
      "type":"switch",
      "z":"1bd55ea3.4cf571",
      "name":"",
      "property":"payload.targetValue",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"1",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"0",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":910,
      "y":240,
      "wires":[
         [
            "1d47ff57.159a01"
         ],
         [
            "e2ae0d1f.f045d"
         ]
      ]
   },
   {
      "id":"1d47ff57.159a01",
      "type":"home-connect-request",
      "z":"1bd55ea3.4cf571",
      "auth":"36ab1033.2965d",
      "name":"turn_on",
      "tag":"settings",
      "operationId":"set_setting",
      "haid":"",
      "body":"{\n  \"data\": {\n    \"key\": \"BSH.Common.Setting.PowerState\",\n    \"value\": \"BSH.Common.EnumType.PowerState.On\",\n    \"type\": \"BSH.Common.EnumType.PowerState\",\n    \"constraints\": {\n      \"allowedvalues\": [\n        \"BSH.Common.EnumType.PowerState.On\",\n        \"BSH.Common.EnumType.PowerState.Standby\"\n      ]\n    }\n  }\n}",
      "optionkey":"",
      "programkey":"",
      "settingkey":"BSH.Common.Setting.PowerState",
      "statuskey":"",
      "imagekey":"",
      "x":1080,
      "y":200,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"e2ae0d1f.f045d",
      "type":"home-connect-request",
      "z":"1bd55ea3.4cf571",
      "auth":"36ab1033.2965d",
      "name":"turn_off",
      "tag":"settings",
      "operationId":"set_setting",
      "haid":"",
      "body":"{\n  \"data\": {\n    \"key\": \"BSH.Common.Setting.PowerState\",\n    \"value\": \"BSH.Common.EnumType.PowerState.Standby\",\n    \"type\": \"BSH.Common.EnumType.PowerState\",\n    \"constraints\": {\n      \"allowedvalues\": [\n        \"BSH.Common.EnumType.PowerState.On\",\n        \"BSH.Common.EnumType.PowerState.Standby\"\n      ]\n    }\n  }\n}",
      "optionkey":"",
      "programkey":"",
      "settingkey":"BSH.Common.Setting.PowerState",
      "statuskey":"",
      "imagekey":"",
      "x":1080,
      "y":260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"36ab1033.2965d",
      "type":"home-connect-auth",
      "z":"",
      "name":"",
      "simulation_mode":false,
      "scope":"",
      "callback_url":"http://192.168.178.50:1880/homeconnect/auth/callback"
   }
]