Netatmo Presence IoBroker zu MQTT.json
[{"id":"67fcfa26.88cb94","type":"homeeDevice","z":"c2b27b26.561b4","virtual-homee":"67c116b9.ae8828","name":"Virtuelle Cam","nodeId":"1000","profile":"3027","icon":"","attributes":"[{\"id\":3234,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":1,\"target_value\":1,\"last_value\":0,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":1,\"type\":179,\"state\":1,\"last_changed\":1571855493,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"{\\\"baseUrlOnline\\\":\\\"https%\\\",\\\"baseUrlLocal\\\":\\\"http\\\",\\\"commands\\\":{\\\"image\\\":\\\"/live/snapshot_720.jpg\\\",\\\"ping\\\":\\\"/command/ping\\\",\\\"video\\\":\\\"/live/index.m3u8\\\"}}\"},{\"id\":3235,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":181,\"state\":1,\"last_changed\":1538142468,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3236,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":182,\"state\":1,\"last_changed\":1538142468,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3237,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":2,\"current_value\":2,\"target_value\":2,\"last_value\":2,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":1,\"type\":250,\"state\":1,\"last_changed\":1572734262,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3238,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":1,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":251,\"state\":1,\"last_changed\":1572432945,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3239,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":1,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":252,\"state\":1,\"last_changed\":1572432950,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3240,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":1,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":253,\"state\":1,\"last_changed\":1572444797,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":3241,\"node_id\":1000,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":1,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":256,\"state\":1,\"last_changed\":1571233624,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":1050,"y":600,"wires":[["9f993106.00c8f8","463a2e9f.25f05","b36387a0.088bc8","e06973ab.54222","c928a8b6.379e78"]]},{"id":"3552ff36.fb516","type":"mqtt in","z":"c2b27b26.561b4","name":"","topic":"event","qos":"2","datatype":"auto","broker":"c0b10d9a.ef74","x":110,"y":440,"wires":[["68d15ffd.c39028","f6b6fc0d.1a71f"]]},{"id":"4d34629a.9893e4","type":"change","z":"c2b27b26.561b4","name":"human detected","rules":[{"t":"change","p":"payload","pt":"msg","from":"human","fromt":"str","to":"{\"id\":3238,\"value\":1}","tot":"json"},{"t":"set","p":"human","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["67fcfa26.88cb94"]]},{"id":"39e1aaab.b19a3e","type":"change","z":"c2b27b26.561b4","name":"animal detected","rules":[{"t":"change","p":"payload","pt":"msg","from":"animal","fromt":"str","to":"{\"id\":3240,\"value\":1}","tot":"json"},{"t":"set","p":"animal","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["67fcfa26.88cb94"]]},{"id":"a0c634d8.8acb8","type":"change","z":"c2b27b26.561b4","name":"vehicle detected","rules":[{"t":"change","p":"payload","pt":"msg","from":"vehicle","fromt":"str","to":"{\"id\":3239,\"value\":1}","tot":"json"},{"t":"set","p":"vehicle","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":880,"wires":[["67fcfa26.88cb94"]]},{"id":"c859ce92.0da268","type":"change","z":"c2b27b26.561b4","name":"othermotion","rules":[{"t":"change","p":"payload","pt":"msg","from":"other","fromt":"str","to":"{\"id\":3241,\"value\":1}","tot":"json"},{"t":"set","p":"other","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":960,"wires":[["67fcfa26.88cb94"]]},{"id":"9b7393fd.b67d68","type":"change","z":"c2b27b26.561b4","name":"human detected reset","rules":[{"t":"change","p":"payload","pt":"msg","from":"human","fromt":"str","to":"{\"id\":3238,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["67fcfa26.88cb94"]]},{"id":"b4d37faf.193bc8","type":"delay","z":"c2b27b26.561b4","name":"Verzögerung 60 sekunden reset auf 0","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":120,"wires":[["9b7393fd.b67d68"]]},{"id":"1020fd39.68e383","type":"change","z":"c2b27b26.561b4","name":"animal detected reset","rules":[{"t":"change","p":"payload","pt":"msg","from":"animal","fromt":"str","to":"{\"id\":3240,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["67fcfa26.88cb94"]]},{"id":"51a20893.9d951","type":"change","z":"c2b27b26.561b4","name":"vehicle detected reset","rules":[{"t":"change","p":"payload","pt":"msg","from":"vehicle","fromt":"str","to":"{\"id\":3239,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["67fcfa26.88cb94"]]},{"id":"c0b48310.8b1658","type":"change","z":"c2b27b26.561b4","name":"othermotion detected reset","rules":[{"t":"change","p":"payload","pt":"msg","from":"other","fromt":"str","to":"{\"id\":3241,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["67fcfa26.88cb94"]]},{"id":"9f993106.00c8f8","type":"function","z":"c2b27b26.561b4","name":"","func":"if (msg.payload.targetValue === 1 && msg.payload.attributeId ===3237){\n  return{payload:true}\n}\n","outputs":1,"noerr":0,"x":1290,"y":620,"wires":[["6754b022.5a2eb8"]]},{"id":"6754b022.5a2eb8","type":"http request","z":"c2b27b26.561b4","name":"Floodlight ON","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.51/a0ca9c87e1a9cad6e90326bfc342746d/command/floodlight_set_config?config={%22mode%22:%22on%22}","tls":"","proxy":"","authType":"","x":1440,"y":620,"wires":[[]]},{"id":"463a2e9f.25f05","type":"function","z":"c2b27b26.561b4","name":"","func":"if (msg.payload.targetValue === 0 && msg.payload.attributeId ===3237){\n  return{payload:true}\n}\n","outputs":1,"noerr":0,"x":1290,"y":660,"wires":[["c97d3d40.1c8278"]]},{"id":"c97d3d40.1c8278","type":"http request","z":"c2b27b26.561b4","name":"Floodlight OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.51/a0ca9c87e1a9cad6e90326bfc342746d/command/floodlight_set_config?config={%22mode%22:%22off%22}","tls":"","proxy":"","authType":"","x":1440,"y":660,"wires":[[]]},{"id":"b36387a0.088bc8","type":"function","z":"c2b27b26.561b4","name":"","func":"if (msg.payload.targetValue === 2 && msg.payload.attributeId ===3237){\n  return{payload:true}\n}\n","outputs":1,"noerr":0,"x":1290,"y":700,"wires":[["4306313d.aa55b"]]},{"id":"4306313d.aa55b","type":"http request","z":"c2b27b26.561b4","name":"Floodlight AUTO","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.51/a0ca9c87e1a9cad6e90326bfc342746d/command/floodlight_set_config?config={%22mode%22:%22auto%22}","tls":"","proxy":"","authType":"","x":1450,"y":700,"wires":[[]]},{"id":"e06973ab.54222","type":"function","z":"c2b27b26.561b4","name":"","func":"if (msg.payload.targetValue === 1 && msg.payload.attributeId ===3234){\n  return{payload:true}\n}\n","outputs":1,"noerr":0,"x":1290,"y":580,"wires":[["fbf2fa1b.5139a8"]]},{"id":"fbf2fa1b.5139a8","type":"http request","z":"c2b27b26.561b4","name":"Überwachung ON","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.51/a0ca9c87e1a9cad6e90326bfc342746d/command/changestatus?status=on","tls":"","proxy":"","authType":"","x":1450,"y":580,"wires":[[]]},{"id":"f074179f.4a7048","type":"http request","z":"c2b27b26.561b4","name":"Überwachung OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.51/a0ca9c87e1a9cad6e90326bfc342746d/command/changestatus?status=off","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":540,"wires":[[]]},{"id":"c928a8b6.379e78","type":"function","z":"c2b27b26.561b4","name":"","func":"if (msg.payload.targetValue === 0 && msg.payload.attributeId ===3234){\n  return{payload:true}\n}\n","outputs":1,"noerr":0,"x":1290,"y":540,"wires":[["f074179f.4a7048"]]},{"id":"39b93a73.85660e","type":"mqtt in","z":"c2b27b26.561b4","name":"","topic":"netamo/power","qos":"2","datatype":"auto","broker":"d4aca26a.924298","x":300,"y":380,"wires":[["7eb06323.43c30c"]]},{"id":"46c14bc8.95f4b4","type":"change","z":"c2b27b26.561b4","name":"Netamo Power  on","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"id\":3236,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":360,"wires":[["67fcfa26.88cb94"]]},{"id":"c64cfdf9.598058","type":"mqtt in","z":"c2b27b26.561b4","name":"","topic":"netamo/speicheralarm","qos":"2","datatype":"auto","broker":"d4aca26a.924298","x":320,"y":520,"wires":[["37e8e94c.5c607e"]]},{"id":"1b1a5dcd.4de34a","type":"change","z":"c2b27b26.561b4","name":"Netamo Speicher","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"id\":3235,\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":500,"wires":[["67fcfa26.88cb94"]]},{"id":"46a1bae5.59d7bc","type":"switch","z":"c2b27b26.561b4","name":"","property":"human","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":660,"wires":[["4d34629a.9893e4","2423259.3e73f5a"]]},{"id":"2423259.3e73f5a","type":"delay","z":"c2b27b26.561b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":620,"wires":[["edbe233e.83ef28"]]},{"id":"edbe233e.83ef28","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"human","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":620,"wires":[[]]},{"id":"6d8c5a22.2d49b4","type":"inject","z":"c2b27b26.561b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":260,"wires":[["8e251f6.0039be"]]},{"id":"8e251f6.0039be","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"human","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":260,"wires":[[]]},{"id":"99ebfc5d.f170b8","type":"switch","z":"c2b27b26.561b4","name":"","property":"animal","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":780,"wires":[["a506059e.1233d8","39e1aaab.b19a3e"]]},{"id":"a506059e.1233d8","type":"delay","z":"c2b27b26.561b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":740,"wires":[["d5e0c636.4140a8"]]},{"id":"d5e0c636.4140a8","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"animal","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":740,"wires":[[]]},{"id":"1c39079a.5e872","type":"inject","z":"c2b27b26.561b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":300,"wires":[["4a4c37f4.cce13"]]},{"id":"4a4c37f4.cce13","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"animal","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[[]]},{"id":"8e55424c.c9aca","type":"switch","z":"c2b27b26.561b4","name":"","property":"animal","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":880,"wires":[["1acbada2.a13752","a0c634d8.8acb8"]]},{"id":"1acbada2.a13752","type":"delay","z":"c2b27b26.561b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":840,"wires":[["aba0ebd0.6a25f"]]},{"id":"aba0ebd0.6a25f","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"vehicle","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":840,"wires":[[]]},{"id":"e7fea9ce.f6c62","type":"switch","z":"c2b27b26.561b4","name":"","property":"animal","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":960,"wires":[["5b10ab86.c35a1c","c859ce92.0da268"]]},{"id":"5b10ab86.c35a1c","type":"delay","z":"c2b27b26.561b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":920,"wires":[["996f3cf1.841c2"]]},{"id":"996f3cf1.841c2","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"other","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":920,"wires":[[]]},{"id":"68d15ffd.c39028","type":"switch","z":"c2b27b26.561b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"human","vt":"str"},{"t":"eq","v":"animal","vt":"str"},{"t":"eq","v":"vehicle","vt":"str"},{"t":"eq","v":"other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":800,"wires":[["46a1bae5.59d7bc"],["99ebfc5d.f170b8"],["8e55424c.c9aca"],["e7fea9ce.f6c62"],[]]},{"id":"f6b6fc0d.1a71f","type":"switch","z":"c2b27b26.561b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"human","vt":"str"},{"t":"eq","v":"animal","vt":"str"},{"t":"eq","v":"vehicle","vt":"str"},{"t":"eq","v":"other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":90,"y":180,"wires":[["b4d37faf.193bc8"],["2ebb598b.34f86e"],["1e3f0442.3b5ec4"],["d9181cf.9a6956"],[]]},{"id":"2ebb598b.34f86e","type":"delay","z":"c2b27b26.561b4","name":"Verzögerung 60 sekunden reset auf 0","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":160,"wires":[["1020fd39.68e383"]]},{"id":"1e3f0442.3b5ec4","type":"delay","z":"c2b27b26.561b4","name":"Verzögerung 60 sekunden reset auf 0","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":200,"wires":[["51a20893.9d951"]]},{"id":"d9181cf.9a6956","type":"delay","z":"c2b27b26.561b4","name":"Verzögerung 60 sekunden reset auf 0","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":240,"wires":[[]]},{"id":"7eb06323.43c30c","type":"switch","z":"c2b27b26.561b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":380,"wires":[["46c14bc8.95f4b4"],["937506f1.95d14"],[]]},{"id":"937506f1.95d14","type":"change","z":"c2b27b26.561b4","name":"Netamo Power off","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"id\":3236,\"value\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["67fcfa26.88cb94"]]},{"id":"37e8e94c.5c607e","type":"switch","z":"c2b27b26.561b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":520,"wires":[["1b1a5dcd.4de34a"],["92be6669.f9576"],[]]},{"id":"92be6669.f9576","type":"change","z":"c2b27b26.561b4","name":"Netamo Speicher","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"id\":3235,\"value\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":540,"wires":[["67fcfa26.88cb94"]]},{"id":"a8230a4d.d49aa","type":"inject","z":"c2b27b26.561b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":340,"wires":[["866490cd.ae85"]]},{"id":"866490cd.ae85","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"animal","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":340,"wires":[[]]},{"id":"17e9f6a2.22acc9","type":"inject","z":"c2b27b26.561b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":380,"wires":[["e879e02f.85b8a"]]},{"id":"e879e02f.85b8a","type":"change","z":"c2b27b26.561b4","name":"","rules":[{"t":"set","p":"other","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":380,"wires":[[]]},{"id":"67c116b9.ae8828","type":"virtualHomee","z":"","name":"6BCD"},{"id":"c0b10d9a.ef74","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.84","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4aca26a.924298","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.84","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
