randomColorBulb.json
[
    {
        "id": "3750afa2.9fb9a",
        "type": "homeeDevice",
        "z": "76b6d694.226ff8",
        "virtual-homee": "",
        "name": "Random ColorBulb",
        "nodeId": "70",
        "profile": "1002",
        "icon": "default",
        "attributes": "[{\"id\":70,\"node_id\":70,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":71,\"node_id\":70,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":73,\"node_id\":70,\"instance\":0,\"minimum\":0,\"maximum\":16777215,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":23,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"7001020%3B16419669%3B12026363%3B16525995\"}]",
        "x": 430,
        "y": 1580,
        "wires": [
            [
                "2c969656.f84b7a"
            ]
        ]
    },
    {
        "id": "2c969656.f84b7a",
        "type": "switch",
        "z": "76b6d694.226ff8",
        "name": "Auslöser",
        "property": "payload.attributeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "70",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1580,
        "wires": [
            [
                "d63b8385.7ebfa"
            ]
        ]
    },
    {
        "id": "d63b8385.7ebfa",
        "type": "function",
        "z": "76b6d694.226ff8",
        "name": "Random",
        "func": "function getRandomInt(max) {\n  return Math.floor(Math.random() * Math.floor(max));\n}\nif (msg.payload.targetValue === 1){\nnode.send({payload:{attribute:{id:71,value:getRandomInt(100)}}})\nnode.send({payload:{attribute:{id:73,value:getRandomInt(16777215)}}})\nnode.send({payload:{attribute:{id:70,value:0}}}) \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "3750afa2.9fb9a"
            ]
        ]
    }
]
