SMA Wechselrichter als homee Energiemanager
[{"id":"94c29a05.895178","type":"modbustcp-read","z":"fd6d95c1.d70ae8","name":"Batterie Ladung","topic":"","dataType":"HoldingRegister","adr":"30845","quantity":"2","rate":"25","rateUnit":"s","server":"8eb3ef23.af869","ieeeType":"off","ieeeBE":"true","x":190,"y":4380,"wires":[["74129c2c.a3f334"]]},{"id":"c2e1fd11.95835","type":"modbustcp-read","z":"fd6d95c1.d70ae8","name":"Einspeisung","topic":"","dataType":"HoldingRegister","adr":"30867","quantity":"2","rate":"25","rateUnit":"s","server":"8eb3ef23.af869","ieeeType":"off","ieeeBE":"true","x":190,"y":4560,"wires":[["bb218aeb.7204f8"]]},{"id":"6dcc21e.5e688e","type":"modbustcp-read","z":"fd6d95c1.d70ae8","name":"Netzbezug","topic":"","dataType":"HoldingRegister","adr":"30865","quantity":"2","rate":"25","rateUnit":"s","server":"8eb3ef23.af869","ieeeType":"off","ieeeBE":"true","x":190,"y":4500,"wires":[["84ece0d0.ea8e8"]]},{"id":"209df9b9.00a856","type":"modbustcp-read","z":"fd6d95c1.d70ae8","name":"PV Erzeugung","topic":"","dataType":"HoldingRegister","adr":"30775","quantity":"2","rate":"25","rateUnit":"s","server":"38eec1f5.1e71ee","ieeeType":"off","ieeeBE":"true","x":180,"y":4620,"wires":[["d7bfa086.5a044"]]},{"id":"5793819c.e8de5","type":"modbustcp-read","z":"fd6d95c1.d70ae8","name":"Bewegung Batterie","topic":"","dataType":"HoldingRegister","adr":"30775","quantity":"2","rate":"25","rateUnit":"s","server":"8eb3ef23.af869","ieeeType":"off","ieeeBE":true,"x":170,"y":4440,"wires":[["95a33646.6f5588"]]},{"id":"74129c2c.a3f334","type":"function","z":"fd6d95c1.d70ae8","name":"Filter","func":"return{payload:msg.payload[1]}","outputs":1,"noerr":0,"x":350,"y":4380,"wires":[["abf6aad6.4d9268"]]},{"id":"d7bfa086.5a044","type":"function","z":"fd6d95c1.d70ae8","name":"Filter","func":"return{payload:msg.payload[1]}","outputs":1,"noerr":0,"x":350,"y":4620,"wires":[["1e7fbd44.061a53","30946e75.f8ca5a"]]},{"id":"84ece0d0.ea8e8","type":"function","z":"fd6d95c1.d70ae8","name":"Filter","func":"return{payload:msg.payload[1]}","outputs":1,"noerr":0,"x":350,"y":4500,"wires":[["346d8c3d.3c2e44","30946e75.f8ca5a"]]},{"id":"bb218aeb.7204f8","type":"function","z":"fd6d95c1.d70ae8","name":"Filter","func":"return{payload:msg.payload[1]}","outputs":1,"noerr":0,"x":350,"y":4560,"wires":[["1d5c374c.3f6439","ac683148.cba1e"]]},{"id":"95a33646.6f5588","type":"function","z":"fd6d95c1.d70ae8","name":"Filter","func":"msg.payload = msg.payload[1] - msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4440,"wires":[["20e012f7.ccbabe","5b4833ee.a4325c"]]},{"id":"346d8c3d.3c2e44","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\n\nnode.send({payload:{attribute:{id:722,value:msg.payload}}})\n","outputs":1,"noerr":0,"x":510,"y":4500,"wires":[["ef7ae323.09ab38"]]},{"id":"1d5c374c.3f6439","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\n\nnode.send({payload:{attribute:{id:723,value:msg.payload}}})\n","outputs":1,"noerr":0,"x":510,"y":4560,"wires":[["ef7ae323.09ab38"]]},{"id":"1e7fbd44.061a53","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\n\nnode.send({payload:{attribute:{id:728,value:msg.payload}}})\n","outputs":1,"noerr":0,"x":510,"y":4620,"wires":[["ef7ae323.09ab38"]]},{"id":"abf6aad6.4d9268","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\n\nnode.send({payload:{attribute:{id:727,value:msg.payload}}})\n","outputs":1,"noerr":0,"x":510,"y":4380,"wires":[["ef7ae323.09ab38"]]},{"id":"20e012f7.ccbabe","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\nvar msg1 = {payload:{ \"id\": 726, \"value\":-wert}};\nvar msg2 = {payload:{attribute:{id:725,value:0}}};\nvar msg3 = {payload:{attribute:{id:725,value:wert}}};\nvar msg4 = {payload:{attribute:{id:726,value:0}}};\n\nif (wert < 0){\nreturn [[msg1,msg2]]\n}\nif (wert >= 0){\nreturn [[msg3,msg4]]\n}","outputs":1,"noerr":0,"x":510,"y":4440,"wires":[["ef7ae323.09ab38"]]},{"id":"ac683148.cba1e","type":"function","z":"fd6d95c1.d70ae8","name":"Vorzeichen auf -","func":"var wert = msg.payload\n\nreturn {payload:-wert};\n\n","outputs":1,"noerr":0,"x":380,"y":4680,"wires":[["5b4833ee.a4325c"]]},{"id":"5b4833ee.a4325c","type":"join","z":"fd6d95c1.d70ae8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":940,"y":4500,"wires":[["fa8bea64.a8ea48"]]},{"id":"fa8bea64.a8ea48","type":"function","z":"fd6d95c1.d70ae8","name":"Summe","func":"msg.payload = msg.payload[0] + msg.payload[1] + msg.payload[2];\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":4500,"wires":[["991fc4e7.e3c7c"]]},{"id":"b6e98277.f1b2f","type":"function","z":"fd6d95c1.d70ae8","name":"Wert  an EM","func":"var wert = msg.payload\n\nnode.send({payload:{attribute:{id:724,value:msg.payload}}})\n","outputs":1,"noerr":0,"x":1450,"y":4500,"wires":[["ef7ae323.09ab38"]]},{"id":"991fc4e7.e3c7c","type":"function","z":"fd6d95c1.d70ae8","name":"Vorzeichen +/-","func":"var wert = msg.payload\n\nif (wert < 0){\nreturn {payload:-wert};\n}\nif (wert >= 0){\nreturn {payload:wert};\n}\n\n\n\n","outputs":1,"noerr":0,"x":1260,"y":4500,"wires":[["b6e98277.f1b2f"]]},{"id":"30946e75.f8ca5a","type":"join","z":"fd6d95c1.d70ae8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":4320,"wires":[["1b5ce2e7.e17885"]]},{"id":"1b5ce2e7.e17885","type":"function","z":"fd6d95c1.d70ae8","name":"Summe Positiv","func":"msg.payload = msg.payload[0] + msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":4320,"wires":[["5b4833ee.a4325c"]]},{"id":"ef7ae323.09ab38","type":"homeeDevice","z":"fd6d95c1.d70ae8","virtual-homee":"2c0b35c4.869b4a","name":"hEM","nodeId":"720","profile":"38","icon":"","attributes":"[{\"id\":720,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":10000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"text\",\"step_value\":1,\"editable\":0,\"type\":84,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"HM0000422\"},{\"id\":721,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":10000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"text\",\"step_value\":1,\"editable\":0,\"type\":45,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"11.4.11\"},{\"id\":722,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":1700,\"target_value\":1700,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":264,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":723,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":2500,\"target_value\":2500,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":265,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":724,\"node_id\":720,\"instance\":0,\"minimum\":-50000,\"maximum\":50000,\"current_value\":258,\"target_value\":258,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":267,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":725,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":200,\"target_value\":200,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":268,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":726,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":980,\"target_value\":980,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":269,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":727,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":37,\"target_value\":37,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":0,\"type\":273,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":728,\"node_id\":720,\"instance\":0,\"minimum\":-50000,\"maximum\":50000,\"current_value\":1180,\"target_value\":1180,\"last_value\":1240,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":266,\"state\":1,\"last_changed\":1572785663,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":729,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":274,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":730,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":275,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":731,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":276,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":732,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":277,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":733,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":278,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":734,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":279,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"}]","x":750,"y":4500,"wires":[["5b4833ee.a4325c"]]},{"id":"8eb3ef23.af869","type":"modbustcp-server","z":"","name":"Batterie Ladung","host":"192.168.1.186","port":"502","unit_id":"3","reconnecttimeout":"1"},{"id":"38eec1f5.1e71ee","type":"modbustcp-server","z":"","name":"STP","host":"192.168.1.185","port":"502","unit_id":"3","reconnecttimeout":"1"},{"id":"2c0b35c4.869b4a","type":"virtualHomee","z":"","name":"12345QWERT"}]
