SMA Wechselrichter als homee Energiemanager
[
    {
        "id": "89c2a2ba.11d23",
        "type": "modbustcp-read",
        "z": "577b30ea.e0664",
        "name": "Batterie Ladung",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "30845",
        "quantity": "2",
        "rate": "25",
        "rateUnit": "s",
        "server": "8caf9085.9bb3",
        "ieeeType": "off",
        "ieeeBE": "true",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "af205b99.c65be8"
            ]
        ]
    },
    {
        "id": "4558dcea.8c2754",
        "type": "modbustcp-read",
        "z": "577b30ea.e0664",
        "name": "Einspeisung",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "30867",
        "quantity": "2",
        "rate": "25",
        "rateUnit": "s",
        "server": "8caf9085.9bb3",
        "ieeeType": "off",
        "ieeeBE": "true",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "1bbc6664.5e9a8a"
            ]
        ]
    },
    {
        "id": "bcc08ae0.f86548",
        "type": "modbustcp-read",
        "z": "577b30ea.e0664",
        "name": "Netzbezug",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "30865",
        "quantity": "2",
        "rate": "25",
        "rateUnit": "s",
        "server": "8caf9085.9bb3",
        "ieeeType": "off",
        "ieeeBE": "true",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "73e18f0a.cf104"
            ]
        ]
    },
    {
        "id": "1065d3d4.eb8c9c",
        "type": "modbustcp-read",
        "z": "577b30ea.e0664",
        "name": "PV Erzeugung",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "30775",
        "quantity": "2",
        "rate": "25",
        "rateUnit": "s",
        "server": "6d7da4d0.24162c",
        "ieeeType": "off",
        "ieeeBE": "true",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "59e0d70b.25e9f8"
            ]
        ]
    },
    {
        "id": "73ff07bf.4012a8",
        "type": "modbustcp-read",
        "z": "577b30ea.e0664",
        "name": "Bewegung Batterie",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "30775",
        "quantity": "2",
        "rate": "25",
        "rateUnit": "s",
        "server": "8caf9085.9bb3",
        "ieeeType": "off",
        "ieeeBE": true,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "41fc1254.01a20c"
            ]
        ]
    },
    {
        "id": "af205b99.c65be8",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Filter",
        "func": "return{payload:msg.payload[1]}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "105318d4.c9bf47"
            ]
        ]
    },
    {
        "id": "59e0d70b.25e9f8",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Filter",
        "func": "return{payload:msg.payload[1]}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "c75f3b7a.477f28",
                "47799353.50defc"
            ]
        ]
    },
    {
        "id": "73e18f0a.cf104",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Filter",
        "func": "return{payload:msg.payload[1]}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "c4b97f3e.2d92f",
                "47799353.50defc"
            ]
        ]
    },
    {
        "id": "1bbc6664.5e9a8a",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Filter",
        "func": "return{payload:msg.payload[1]}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "bee11677.8991f8",
                "9f9c897a.da71e8"
            ]
        ]
    },
    {
        "id": "41fc1254.01a20c",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Filter",
        "func": "msg.payload = msg.payload[1] - msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "32f287cc.caad38"
            ]
        ]
    },
    {
        "id": "c4b97f3e.2d92f",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\n\nnode.send({payload:{\"attribute\":{\"id\":722,\"value\":msg.payload}}})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "bee11677.8991f8",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\n\nnode.send({payload:{\"attribute\":{\"id\":723,\"value\":msg.payload}}})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "c75f3b7a.477f28",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\n\nnode.send({payload:{\"attribute\":{\"id\":728,\"value\":msg.payload}}})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 420,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "105318d4.c9bf47",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\n\nnode.send({payload:{\"attribute\":{\"id\":727,\"value\":msg.payload}}})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "32f287cc.caad38",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\nvar msg1 = {payload:{\"attribute\":{\"id\": 726, \"value\":-wert}}};\nvar msg2 = {payload:{\"attribute\":{\"id\": 725, \"value\": 0 }}};\nvar msg3 = {payload:{\"attribute\":{\"id\": 725, \"value\":wert}}};\nvar msg4 = {payload:{\"attribute\":{\"id\": 726, \"value\": 0 }}};\n\nif (wert < 0){\nreturn [[msg1,msg2]]\n}\nif (wert >= 0){\nreturn [[msg3,msg4]]\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "9f9c897a.da71e8",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Vorzeichen auf -",
        "func": "var wert = msg.payload\n\nreturn {payload:-wert};\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "47799353.50defc"
            ]
        ]
    },
    {
        "id": "4f033979.a87d08",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Summe",
        "func": "msg.payload = msg.payload[0] + msg.payload[1] + msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "63aa5943.0975b8"
            ]
        ]
    },
    {
        "id": "8d9f915d.63c0f",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Wert  an EM",
        "func": "var wert = msg.payload\n\nnode.send({payload:{\"attribute\":{\"id\":724,\"value\":msg.payload}}})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1520,
        "y": 300,
        "wires": [
            [
                "4da2116e.8b8a9"
            ]
        ]
    },
    {
        "id": "63aa5943.0975b8",
        "type": "function",
        "z": "577b30ea.e0664",
        "name": "Vorzeichen +/-",
        "func": "var wert = msg.payload\n\nif (wert < 0){\nreturn {payload:-wert};\n}\nif (wert >= 0){\nreturn {payload:wert};\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1330,
        "y": 300,
        "wires": [
            [
                "8d9f915d.63c0f"
            ]
        ]
    },
    {
        "id": "47799353.50defc",
        "type": "join",
        "z": "577b30ea.e0664",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "4f033979.a87d08"
            ]
        ]
    },
    {
        "id": "4da2116e.8b8a9",
        "type": "homeeDevice",
        "z": "577b30ea.e0664",
        "virtual-homee": "",
        "name": "hEM",
        "nodeId": "720",
        "profile": "38",
        "icon": "",
        "attributes": "[{\"id\":720,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":10000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"text\",\"step_value\":1,\"editable\":0,\"type\":84,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"HM0000422\"},{\"id\":721,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":10000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"text\",\"step_value\":1,\"editable\":0,\"type\":45,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"11.4.11\"},{\"id\":722,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":1700,\"target_value\":1700,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":264,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":723,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":2500,\"target_value\":2500,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":265,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":724,\"node_id\":720,\"instance\":0,\"minimum\":-50000,\"maximum\":50000,\"current_value\":258,\"target_value\":258,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":267,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":725,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":200,\"target_value\":200,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":268,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":726,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":980,\"target_value\":980,\"last_value\":0,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":269,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":727,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":37,\"target_value\":37,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":0,\"type\":273,\"state\":1,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":728,\"node_id\":720,\"instance\":0,\"minimum\":-50000,\"maximum\":50000,\"current_value\":1180,\"target_value\":1180,\"last_value\":1240,\"unit\":\"W\",\"step_value\":100,\"editable\":0,\"type\":266,\"state\":1,\"last_changed\":1572785663,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":729,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":274,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":730,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":275,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":731,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":276,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":732,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":277,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":733,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":278,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"},{\"id\":734,\"node_id\":720,\"instance\":0,\"minimum\":0,\"maximum\":9999999,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":279,\"state\":6,\"last_changed\":1572785482,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\"}]",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8caf9085.9bb3",
        "type": "modbustcp-server",
        "name": "Batterie Ladung",
        "host": "192.168.1.186",
        "port": "502",
        "unit_id": "3",
        "reconnecttimeout": "1"
    },
    {
        "id": "6d7da4d0.24162c",
        "type": "modbustcp-server",
        "name": "STP",
        "host": "192.168.1.185",
        "port": "502",
        "unit_id": "3",
        "reconnecttimeout": "1"
    }
]
