Sonoff Plug ohne Verbrauchsmessung.json
[
  {
    "id": "760b36fd.c184a8",
    "type": "homeeDevice",
    "z": "5a869de6.3ee3ac",
    "virtual-homee": "57c2bd18.3b1014",
    "name": "Leseleuchte",
    "nodeId": "370",
    "profile": "16",
    "icon": "nodeicon_bulb",
    "attributes": "[{\"id\":370,\"node_id\":370,\"instance\":0,\"minimum\":0,\"maximum\":4,\"current_value\":3,\"target_value\":3,\"last_value\":3,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":33,\"state\":1,\"last_changed\":1572944008,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":371,\"node_id\":370,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":1572944008,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]",
    "x": 210,
    "y": 2440,
    "wires": [
      [
        "90a0f6fa.64b958"
      ]
    ]
  },
  {
    "id": "9a511b20.662718",
    "type": "Sonoff device",
    "z": "5a869de6.3ee3ac",
    "mode": "0",
    "broker": "2191e2fe.175e7e",
    "device": "Leseleuchte",
    "name": "",
    "onValue": "ON",
    "offValue": "OFF",
    "cmdPrefix": "cmnd",
    "statPrefix": "stat",
    "telePrefix": "tele",
    "x": 630,
    "y": 2440,
    "wires": [
      [
        "1a9d0621.bf403a"
      ]
    ]
  },
  {
    "id": "90a0f6fa.64b958",
    "type": "change",
    "z": "5a869de6.3ee3ac",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload.targetValue",
        "pt": "msg",
        "from": "0",
        "fromt": "num",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.targetValue",
        "pt": "msg",
        "from": "1",
        "fromt": "num",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "move",
        "p": "payload.targetValue",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 2440,
    "wires": [
      [
        "9a511b20.662718"
      ]
    ]
  },
  {
    "id": "1a9d0621.bf403a",
    "type": "function",
    "z": "5a869de6.3ee3ac",
    "name": "Rückkanal on off",
    "func": "if (msg.payload === true){var status =1}\n    else var status =0;\n        node.send({payload:{\"id\":370,\"value\":status}})",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 2440,
    "wires": [
      [
        "760b36fd.c184a8"
      ]
    ]
  },
  {
    "id": "57c2bd18.3b1014",
    "type": "virtualHomee",
    "z": "",
    "name": "12345QWERT"
  },
  {
    "id": "2191e2fe.175e7e",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "192.168.1.27",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  }
]
