Sonoff Plug, aktueller und summierter Verbrauch.json
[{"id":"d62ec7c7.34f51","type":"homeeDevice","z":"c6166d30.17031","homee-sim":"46f42aad.a4bebc","name":"Lenovo Tablet (13)","nodeId":"10","profile":"13","attributes":"[{\"id\":100,\"node_id\":10,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":101,\"node_id\":10,\"instance\":0,\"minimum\":0,\"maximum\":3000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"W\",\"step_value\":0.5,\"editable\":0,\"type\":3,\"state\":1,\"last_changed\":1572619585,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":102,\"node_id\":10,\"instance\":0,\"minimum\":0,\"maximum\":50000,\"current_value\":8.85,\"target_value\":8.85,\"last_value\":8.84,\"unit\":\"kWh\",\"step_value\":1,\"editable\":0,\"type\":4,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":190,"y":240,"wires":[["84b44b3f.e0af6"]]},{"id":"bef14aa6.22ff18","type":"Sonoff device","z":"c6166d30.17031","mode":"0","broker":"cc6ed67c.707dc","device":"lenovo_tablet","name":"","onValue":"ON","offValue":"OFF","cmdPrefix":"cmnd","statPrefix":"stat","telePrefix":"tele","x":620,"y":240,"wires":[["74a77850.c03e08"]]},{"id":"84b44b3f.e0af6","type":"change","z":"c6166d30.17031","name":"","rules":[{"t":"change","p":"payload.targetValue","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.targetValue","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["bef14aa6.22ff18"]]},{"id":"74a77850.c03e08","type":"function","z":"c6166d30.17031","name":"Rückkanal on off","func":"if (msg.payload === true){var status =1}\n    else var status =0;\n        node.send({payload:{\"id\":100,\"value\":status}})","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["d62ec7c7.34f51"]]},{"id":"549c023a.aa2944","type":"mqtt in","z":"c6166d30.17031","name":"","topic":"tele/lenovo_tablet/SENSOR","qos":"2","datatype":"auto","broker":"cc6ed67c.707dc","x":240,"y":180,"wires":[["a9bf21ba.6f7d1"]]},{"id":"a9bf21ba.6f7d1","type":"json","z":"c6166d30.17031","name":"","property":"payload","action":"","pretty":false,"x":430,"y":180,"wires":[["f91b860d.61247"]]},{"id":"f91b860d.61247","type":"function","z":"c6166d30.17031","name":"Filter Energy","func":"var power = msg.payload.ENERGY.Power\nvar total = msg.payload.ENERGY.Total\n\nnode.send({payload:{\"id\":101,\"value\":msg.payload.ENERGY.Power}})\nnode.send({payload:{\"id\":102,\"value\":msg.payload.ENERGY.Total}})","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["d62ec7c7.34f51"]]},{"id":"46f42aad.a4bebc","type":"virtualHomee","z":"","name":"virtualHomee01"},{"id":"cc6ed67c.707dc","type":"mqtt-broker","z":"","name":"","broker":"10.1.103.120","port":"1883","clientid":"NanoPiCube","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]