Sonos modifizierter Flow (neuere Geräte mit Alexa) - An_aus, Lautstärke, 7 Sendeplätze, Rückkanal.json
[{"id":"68e8b7fc.480248","type":"http request","z":"bfa5fdec.8c338","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.27:5005/wohnzimmer/tunein/play/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":600,"wires":[[]]},{"id":"db0d260b.e59f18","type":"function","z":"bfa5fdec.8c338","name":"","func":"var test = msg.payload.targetValue;\nvar test2 = 24896;\nfunction sender(){\n    switch (test){\n        \n        case 1: test2= 24896;break;\n        case 2: test2= 9014;break;\n        case 3: test2= 1561;break;\n        case 4: test2= 17490;break;\n        case 5: test2= 2485;break;\n        case 6: test2= 57109;break;\n        case 7: test2= 84203;break;\n    }\n}\nif (msg.payload.attributeId=== 614 ){sender()\nreturn {payload: test2};}","outputs":1,"noerr":0,"x":950,"y":600,"wires":[["68e8b7fc.480248"]]},{"id":"115ad4b5.efcf8b","type":"inject","z":"bfa5fdec.8c338","name":"","topic":"","payload":"get_state","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":"5","x":190,"y":520,"wires":[["72e64821.199378"]]},{"id":"27597eee.6c4462","type":"switch","z":"bfa5fdec.8c338","name":"","property":"payload.attributeId","propertyType":"msg","rules":[{"t":"eq","v":"613","vt":"num"},{"t":"eq","v":"612","vt":"num"},{"t":"eq","v":"614","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":810,"y":560,"wires":[["4b027637.5bdb18"],["ee622904.83cd98"],["db0d260b.e59f18"]]},{"id":"4b027637.5bdb18","type":"change","z":"bfa5fdec.8c338","name":"","rules":[{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":520,"wires":[["dd2d1f6b.6ee52"]]},{"id":"ee622904.83cd98","type":"change","z":"bfa5fdec.8c338","name":"","rules":[{"t":"move","p":"payload.targetValue","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"play","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"pause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":560,"wires":[["dd2d1f6b.6ee52"]]},{"id":"6fab391c.125ac8","type":"inject","z":"bfa5fdec.8c338","name":"","topic":"","payload":"get_volume","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":"5","x":190,"y":580,"wires":[["377c4789.f4b1d8"]]},{"id":"a0eec6fa.96b908","type":"function","z":"bfa5fdec.8c338","name":"","func":"var vol = msg.payload\nnode.send({payload:{\"id\":613,\"value\":msg.payload}})","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["ddce4eea.84e58"]]},{"id":"811dde52.c085","type":"function","z":"bfa5fdec.8c338","name":"","func":"if (msg.payload === \"playing\"){var status =1}\n    else var status =0;\n        node.send({payload:{\"id\":612,\"value\":status}})","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["ddce4eea.84e58"]]},{"id":"72e64821.199378","type":"sonos-get-status","z":"bfa5fdec.8c338","confignode":"6368b9e0.a43578","name":"WZ","x":330,"y":520,"wires":[["811dde52.c085"]]},{"id":"377c4789.f4b1d8","type":"sonos-get-status","z":"bfa5fdec.8c338","confignode":"6368b9e0.a43578","name":"WZ","x":330,"y":580,"wires":[["a0eec6fa.96b908"]]},{"id":"dd2d1f6b.6ee52","type":"sonos-control-player","z":"bfa5fdec.8c338","confignode":"6368b9e0.a43578","name":"WZ","x":1270,"y":540,"wires":[]},{"id":"ddce4eea.84e58","type":"homeeDevice","z":"bfa5fdec.8c338","homee-sim":"236538fb.027108","name":"Sonos Wohnzimmer","nodeId":"610","profile":"1001","icon":"nodeicon_speaker","attributes":"[{\"id\":612,\"node_id\":610,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":613,\"node_id\":610,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":614,\"node_id\":610,\"instance\":2,\"minimum\":1,\"maximum\":7,\"current_value\":1,\"target_value\":1,\"last_value\":1,\"unit\":\"Sender\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]","x":640,"y":560,"wires":[["27597eee.6c4462"]]},{"id":"6368b9e0.a43578","type":"sonos-config","z":"","name":"Wohnzimmer","serialnum":"5C-AA-FD-F7-BB-42:5","ipaddress":"192.168.1.111"},{"id":"236538fb.027108","type":"virtualHomee","z":"","name":"12345QWERT"}]