xiaomi_saugroboter
[
    {
        "id": "dc932268.e7dd8",
        "type": "tab",
        "label": "Roborock",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0d6b239.cc7ce",
        "type": "homeeDevice",
        "z": "dc932268.e7dd8",
        "virtual-homee": "",
        "name": "Staubsauger EG",
        "nodeId": "55",
        "profile": "19",
        "icon": "nodeicon_ventilationsystem",
        "attributes": "[{\"id\":550,\"node_id\":55,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":551,\"node_id\":55,\"instance\":2,\"minimum\":0,\"maximum\":1,\"current_value\":1,\"target_value\":1,\"last_value\":1,\"unit\":\"Laden\",\"step_value\":1,\"editable\":0,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":552,\"node_id\":55,\"instance\":1,\"minimum\":0,\"maximum\":100,\"current_value\":60,\"target_value\":60,\"last_value\":60,\"unit\":\"%25 Saugen\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":1573711842,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":553,\"node_id\":55,\"instance\":2,\"minimum\":0,\"maximum\":10,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"Zone\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":1573711842,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":554,\"node_id\":55,\"instance\":1,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"m%C2%B2\",\"step_value\":1,\"editable\":0,\"type\":3,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":555,\"node_id\":55,\"instance\":2,\"minimum\":0,\"maximum\":60,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%27\",\"step_value\":1,\"editable\":0,\"type\":3,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":556,\"node_id\":55,\"instance\":1,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25 Filter (150h)\",\"step_value\":1,\"editable\":0,\"type\":4,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":557,\"node_id\":55,\"instance\":2,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25 Seitenb%C3%BCrste (200h)\",\"step_value\":1,\"editable\":0,\"type\":4,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":558,\"node_id\":55,\"instance\":3,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25 Hauptb%C3%BCrste (300h)\",\"step_value\":1,\"editable\":0,\"type\":4,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":559,\"node_id\":55,\"instance\":4,\"minimum\":0,\"maximum\":100,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25 Sensoren (30h)\",\"step_value\":1,\"editable\":0,\"type\":4,\"state\":1,\"last_changed\":1572807225,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":560,\"node_id\":55,\"instance\":0,\"minimum\":0,\"maximum\":100,\"current_value\":100,\"target_value\":100,\"last_value\":100,\"unit\":\"%25\",\"step_value\":1,\"editable\":0,\"type\":8,\"state\":1,\"last_changed\":1573711842,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":561,\"node_id\":55,\"instance\":0,\"minimum\":0,\"maximum\":4,\"current_value\":3,\"target_value\":3,\"last_value\":4,\"unit\":\"n%2Fa\",\"step_value\":1,\"editable\":0,\"type\":33,\"state\":1,\"last_changed\":1572634009,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":4,\"data\":\"\",\"node\":\"[Circular ~.node]\"},{\"id\":562,\"node_id\":55,\"instance\":0,\"minimum\":0,\"maximum\":10000,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":0.001,\"editable\":0,\"type\":45,\"state\":1,\"last_changed\":1573711842,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"}]",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "adebfd65.d770f"
            ]
        ]
    },
    {
        "id": "170dd277.799a9e",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Battery status",
        "topic": "mihome-vacuum.0.info.battery",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b792b749.529d18"
            ]
        ]
    },
    {
        "id": "6e83dc3.5f74824",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Firmware",
        "topic": "mihome-vacuum.0.info.device_fw",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "45c147c8.7ed008"
            ]
        ]
    },
    {
        "id": "b7f80b4c.83e008",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Suction power",
        "topic": "mihome-vacuum.0.control.fan_power",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "3dcd6197.f6d06e"
            ]
        ]
    },
    {
        "id": "55c927ca.5cca98",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Wifi RSSI",
        "topic": "mihome-vacuum.0.info.wifi_signal",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "11b1eb38.cb3fe5"
            ]
        ]
    },
    {
        "id": "a4e93e8e.0bdcc",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Cleaned area",
        "topic": "mihome-vacuum.0.info.cleanedarea",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "3582138a.0f62cc"
            ]
        ]
    },
    {
        "id": "3582138a.0f62cc",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Cleaned Area",
        "func": "var level = parseInt(msg.payload);\nmsg.payload = {\"attribute\":{ \"id\":554, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "4bf799b5.ee0078",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Status",
        "func": "var value=0;\nswitch(msg.payload) {\n  case \"5\":\n  case \"6\":\n  case \"7\":\n  case \"11\":\n  case \"15\":\n  case \"16\":\n  case \"17\":\n  case \"18\":\n    value = 1;\n    break;\n  default:\n    value = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":550, \"value\": value}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "daeccd49.5803e",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Loading",
        "func": "var value=0;\nswitch(msg.payload) {\n  case \"8\":\n    value = 1;\n    break;\n  default:\n    value = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":551, \"value\": value}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "3dcd6197.f6d06e",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Fan Power",
        "func": "var level = parseInt(msg.payload);\nmsg.payload = {\"attribute\":{ \"id\":552, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "b792b749.529d18",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Battery level",
        "func": "var level = parseInt(msg.payload);\nmsg.payload = {\"attribute\":{ \"id\": 560, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "11b1eb38.cb3fe5",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Link Quality",
        "func": "var level=parseInt(msg.payload);\n\n// Verbindungsqualität von dbm in 0-4 umrechnen\nif (level < -90) {\n   level = 0\n}\nelse if (level < -80) {\n    level = 1\n}\nelse if (level < -60) {\n    level = 2\n}\nelse if (level < -40) {\n    level = 3\n}\nelse {\n    level = 4\n}\nmsg.payload = {\"attribute\":{ \"id\":561, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "45c147c8.7ed008",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Firmware",
        "func": "// var firmware=parseFloat(msg.payload);\nvar firmware = msg.payload;\nmsg.payload = {\"attribute\":{ \"id\":562, \"value\": firmware}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "4269a82c.eff438",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Cleaning time",
        "topic": "mihome-vacuum.0.info.cleanedtime",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "5d40f4b6.72f03c"
            ]
        ]
    },
    {
        "id": "5d40f4b6.72f03c",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Cleaned Time",
        "func": "var level=parseInt(msg.payload);\nmsg.payload = {\"attribute\":{ \"id\":555, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "adebfd65.d770f",
        "type": "switch",
        "z": "dc932268.e7dd8",
        "name": "ID?",
        "property": "payload.attributeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "550",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "552",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "553",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 380,
        "wires": [
            [
                "13a0ceeb.f3a7e1"
            ],
            [
                "1a6b0487.9cf08b"
            ],
            []
        ]
    },
    {
        "id": "51fa1343.50cbbc",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Filter lifetime",
        "topic": "mihome-vacuum.0.consumable.filter",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "a1bfb790.56de68"
            ]
        ]
    },
    {
        "id": "ee069024.3ff9a",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Main brush lifetime",
        "topic": "mihome-vacuum.0.consumable.main_brush",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "916015e7.2c9558"
            ]
        ]
    },
    {
        "id": "f9acc48c.a68388",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "sensor lifetime",
        "topic": "mihome-vacuum.0.consumable.sensors",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "f92bb157.9c9c8"
            ]
        ]
    },
    {
        "id": "9fef0f10.eab19",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Side brush lifetime",
        "topic": "mihome-vacuum.0.consumable.side_brush",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "c38169fb.e01b58"
            ]
        ]
    },
    {
        "id": "a1bfb790.56de68",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Filter Lifetime",
        "func": "if (parseInt(msg.payload) < 0){\n    var level = 0;\n} else {\n    level = 100 - parseInt(msg.payload);\n}\nif (level < 0) {\n    level = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":556, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "c38169fb.e01b58",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Sidebrush Lifetime",
        "func": "if (parseInt(msg.payload) < 0){\n    var level = 0;\n} else {\n    level = 100 - parseInt(msg.payload);\n}\nif (level < 0) {\n    level = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":557, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 600,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "916015e7.2c9558",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Mainbrush Lifetime",
        "func": "if (parseInt(msg.payload) < 0){\n    var level = 0;\n} else {\n    level = 100 - parseInt(msg.payload);\n}\nif (level < 0) {\n    level = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":558, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "f92bb157.9c9c8",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Sensor Lifetime",
        "func": "if (parseInt(msg.payload) < 0){\n    var level = 0;\n} else {\n    level = 100 - parseInt(msg.payload);\n}\nif (level < 0) {\n    level = 0;\n}\nmsg.payload = {\"attribute\":{ \"id\":559, \"value\": level}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "f0d6b239.cc7ce"
            ]
        ]
    },
    {
        "id": "2cb3128a.c4512e",
        "type": "ioBroker in",
        "z": "dc932268.e7dd8",
        "name": "Vacuum state",
        "topic": "mihome-vacuum.0.info.state",
        "payloadType": "value",
        "onlyack": "",
        "func": "rbe",
        "gap": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4bf799b5.ee0078",
                "daeccd49.5803e"
            ]
        ]
    },
    {
        "id": "4a904b3e.c673f4",
        "type": "comment",
        "z": "dc932268.e7dd8",
        "name": "Node 55",
        "info": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "13a0ceeb.f3a7e1",
        "type": "switch",
        "z": "dc932268.e7dd8",
        "name": "Control Cleaner",
        "property": "payload.targetValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "8b08082b.277818",
                "9ddb453f.68c2d8"
            ],
            [
                "89500308.eaba"
            ]
        ]
    },
    {
        "id": "1a6b0487.9cf08b",
        "type": "function",
        "z": "dc932268.e7dd8",
        "name": "Set Fan Speed",
        "func": "var level = msg.payload.targetValue;\nmsg.payload = level.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "1701043e.7e945c"
            ]
        ]
    },
    {
        "id": "1701043e.7e945c",
        "type": "ioBroker out",
        "z": "dc932268.e7dd8",
        "name": "Suction power",
        "topic": "mihome-vacuum.0.control.fan_power",
        "ack": "false",
        "autoCreate": "false",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "89500308.eaba",
        "type": "ioBroker out",
        "z": "dc932268.e7dd8",
        "name": "Start vacuum",
        "topic": "mihome-vacuum.0.control.start",
        "ack": "false",
        "autoCreate": "false",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "8b08082b.277818",
        "type": "ioBroker out",
        "z": "dc932268.e7dd8",
        "name": "Pause vacuum",
        "topic": "mihome-vacuum.0.control.pause",
        "ack": "false",
        "autoCreate": "false",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "9ddb453f.68c2d8",
        "type": "delay",
        "z": "dc932268.e7dd8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "87fdb722.d5e538"
            ]
        ]
    },
    {
        "id": "87fdb722.d5e538",
        "type": "ioBroker out",
        "z": "dc932268.e7dd8",
        "name": "Go home",
        "topic": "mihome-vacuum.0.control.home",
        "ack": "false",
        "autoCreate": "false",
        "x": 1260,
        "y": 320,
        "wires": []
    }
]
