Xiaomi Mijia Bedside Lamp 2 (alternativ andere Yeelight) in hih
[{"id":"11186ee3.241cd9","type":"function","z":"fd6d95c1.d70ae8","name":"RGB Funktion","func":"if (msg.payload.attributeId === 813){\nvar zahl= msg.payload.targetValue;\nvar ausgabe =\"\";\nrest(i = zahl%16);\nzahl6 = ausgabe;\nzahl = Math.floor(zahl/16);\nrest(i = zahl%16);\nzahl5 = ausgabe;\nzahl = Math.floor(zahl/16);\nrest(i = zahl%16);\nzahl4 = ausgabe;\nzahl = Math.floor(zahl/16);\nrest(i = zahl%16);\nzahl3 = ausgabe;\nzahl = Math.floor(zahl/16);\nrest(i = zahl%16);\nzahl2 = ausgabe;\nzahl = Math.floor(zahl/16);\nrest(i = zahl);\nzahl1 = ausgabe;\n\nausgabe2 = zahl1+zahl2+zahl3+zahl4+zahl5+zahl6;\n    node.send({payload:{\"hex\":ausgabe2}});\n}\n\nfunction rest(){\n    switch(i)\n\t\t{\n\t\t    \n\t\tcase 1: ausgabe =\"1\";break;\n\t\tcase 2: ausgabe =\"2\";break;\n\t\tcase 3: ausgabe = \"3\";break;\n\t\tcase 4: ausgabe= \"4\";break;\n\t\tcase 5: ausgabe= \"5\";break;\n\t\tcase 6: ausgabe = \"6\";break;\n\t\tcase 7: ausgabe =\"7\";break;   \n\t\tcase 8: ausgabe = \"8\";break;\n\t\tcase 9: ausgabe = \"9\";break;\n\t\tcase 10: ausgabe =\"A\"; break;\n\t\tcase 11: ausgabe = \"B\"; break;\n\t\tcase 12: ausgabe  = \"C\"; break;\n\t\tcase 13: ausgabe =\"D\"; break;\n\t\tcase 14: ausgabe =\"E\"; break;\n\t\tcase 15: ausgabe =\"F\"; break;\n}}\n\nif (msg.payload.attributeId === 810){node.send({payload:{\"on\":msg.payload.targetValue}})}\nif (msg.payload.attributeId === 811){node.send({payload:{\"brightness\":msg.payload.targetValue}})}\nif (msg.payload.attributeId === 812){node.send({payload:{\"colorTemp\":msg.payload.targetValue}})}\n","outputs":1,"noerr":0,"x":440,"y":2700,"wires":[["6877517e.d9b2f"]]},{"id":"6877517e.d9b2f","type":"change","z":"fd6d95c1.d70ae8","name":"","rules":[{"t":"change","p":"payload.on","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.on","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"move","p":"payload.brightness","pt":"msg","to":"payload.bri","tot":"msg"},{"t":"move","p":"payload.colorTemp","pt":"msg","to":"payload.ct","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2700,"wires":[["4e84c517.b8b2b4"]]},{"id":"b07f6128.ead65","type":"homeeDevice","z":"fd6d95c1.d70ae8","virtual-homee":"9d154771.cd16c8","name":"Bedside Michael","nodeId":"810","profile":"1002","icon":"default","attributes":"[{\"id\":810,\"node_id\":810,\"instance\":0,\"minimum\":0,\"maximum\":1,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":1,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":811,\"node_id\":810,\"instance\":0,\"minimum\":0,\"maximum\":255,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"%25\",\"step_value\":1,\"editable\":1,\"type\":2,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":812,\"node_id\":810,\"instance\":0,\"minimum\":1700,\"maximum\":6500,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"K\",\"step_value\":1,\"editable\":1,\"type\":42,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"\"},{\"id\":813,\"node_id\":810,\"instance\":0,\"minimum\":0,\"maximum\":16777215,\"current_value\":0,\"target_value\":0,\"last_value\":0,\"unit\":\"\",\"step_value\":1,\"editable\":1,\"type\":23,\"state\":1,\"last_changed\":12345555,\"changed_by\":1,\"changed_by_id\":0,\"based_on\":1,\"data\":\"7001020%3B16419669%3B12026363%3B16525995\"}]","x":230,"y":2700,"wires":[["11186ee3.241cd9"]]},{"id":"4e84c517.b8b2b4","type":"yeelight-compat-hue-out","z":"fd6d95c1.d70ae8","name":"","server":"73ebd62.d8331a8","x":830,"y":2700,"wires":[]},{"id":"9edb51bf.5c86d8","type":"yeelight-compat-hue-state","z":"fd6d95c1.d70ae8","name":"","server":"73ebd62.d8331a8","x":1010,"y":2700,"wires":[["34cab937.7bb35e"]]},{"id":"34cab937.7bb35e","type":"function","z":"fd6d95c1.d70ae8","name":"Rückkanal on off mit Hex","func":"if (msg.payload.state.on === true ){msg.payload.on =1}else msg.payload.on=0; \nnode.send({payload:{\"id\":810,\"value\":msg.payload.on}})\nnode.send({payload:{\"id\":811,\"value\":msg.payload.state.bri}})\nif( msg.payload.state.ct)\nnode.send({payload:{\"id\":812,\"value\":msg.payload.state.ct}})\nif( msg.payload.state.hex){\nvar test = msg.payload.state.hex.split('');\nvar ausgabe = \"\";\numr(i = test[5]);\nZahl1 = ausgabe*1;\numr(i = test[4]);\nZahl2 = ausgabe*16;\numr(i = test[3]);\nZahl3 = ausgabe*256;\numr(i = test[2]);\nZahl4 = ausgabe*4096;\numr(i = test[1]);\nZahl5 = ausgabe*65536;\numr(i = test[0]);\nZahl6 = ausgabe*1048576;\nnode.send({payload: {\"id\":813,\"value\":Zahl1+Zahl2+Zahl3+Zahl4+Zahl5+Zahl6}})}\nfunction umr(){\n    switch(i){\n\t\tcase \"1\": ausgabe =1;break;\n\t\tcase \"2\": ausgabe =2;break;\n\t\tcase \"3\": ausgabe = 3;break;\n\t\tcase \"4\": ausgabe= 4;break;\n\t\tcase \"5\": ausgabe= 5;break;\n\t\tcase \"6\": ausgabe = 6;break;\n\t\tcase \"7\": ausgabe =7;break;   \n\t\tcase \"8\": ausgabe = 8;break;\n\t\tcase \"9\": ausgabe = 9;break;\n\t\tcase \"a\": ausgabe =10; break;\n\t\tcase \"b\": ausgabe = 11; break;\n\t\tcase \"c\": ausgabe  = 12; break;\n\t\tcase \"d\": ausgabe =13; break;\n\t\tcase \"e\": ausgabe =14; break;\n\t\tcase \"f\": ausgabe =15; break;\n}}","outputs":1,"noerr":0,"x":1230,"y":2700,"wires":[["b07f6128.ead65"]]},{"id":"9d154771.cd16c8","type":"virtualHomee","z":"","name":"12345QWERT"},{"id":"73ebd62.d8331a8","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.148","port":"55443","name":"Micha_Bed"}]
